@-webkit-keyframes showLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.01);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-moz-keyframes showLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.01, 1.1, 1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-webkit-keyframes showLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.01, 1.1, 1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@-o-keyframes showLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.01, 1.1, 1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes showLogo {
  from {
    opacity: 0;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.01, 1.1, 1.1);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@font-face {
  font-family: 'SquareSansProLight';
  font-style: normal;
  src: url("../fonts/PFSquareSansPro-Light.ttf");
}
@font-face {
  font-family: 'SquareSansProRegular';
  font-style: normal;
  src: url("../fonts/PFSquareSansPro-Regular.ttf");
}
@font-face {
  font-family: 'SquareSansProMedium';
  font-style: normal;
  src: url("../fonts/PFSquareSansPro-Medium.ttf");
}
@font-face {
  font-family: 'SquareSansProBold';
  font-style: normal;
  src: url("../fonts/PFSquareSansProBold.ttf");
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
div {
  padding: 0;
  margin: 0;
}
html h1,
body h1,
h1 h1,
h2 h1,
h3 h1,
h4 h1,
h5 h1,
h6 h1,
p h1,
span h1,
div h1 {
  font-family: SquareSansProMedium;
  padding: 15px 0px 10px 0px;
  text-align: center;
  font-size: 58px;
  color: #414141;
}
html h2,
body h2,
h1 h2,
h2 h2,
h3 h2,
h4 h2,
h5 h2,
h6 h2,
p h2,
span h2,
div h2 {
  font-family: SquareSansProMedium;
  padding: 15px 0px 10px 0px;
  text-align: left;
  font-size: 22px;
  font-weight: normal;
  color: #666;
}
html p,
body p,
h1 p,
h2 p,
h3 p,
h4 p,
h5 p,
h6 p,
p p,
span p,
div p {
  font-size: 16px;
  font-family: SquareSansProRegular;
  text-align: left;
  color: #666;
}
html img,
body img,
h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img,
p img,
span img,
div img {
  max-width: 300px;
  border: none;
}
html .global-wrapper,
body .global-wrapper,
h1 .global-wrapper,
h2 .global-wrapper,
h3 .global-wrapper,
h4 .global-wrapper,
h5 .global-wrapper,
h6 .global-wrapper,
p .global-wrapper,
span .global-wrapper,
div .global-wrapper {
  text-align: center;
  margin: auto;
  padding-top: 50px;
  display: block;
  bottom: auto;
  left: 0;
  right: 0;
  max-width: 600px;
  min-height: 75px;
  padding-bottom: 50px;
}
html .global-wrapper .logo,
body .global-wrapper .logo,
h1 .global-wrapper .logo,
h2 .global-wrapper .logo,
h3 .global-wrapper .logo,
h4 .global-wrapper .logo,
h5 .global-wrapper .logo,
h6 .global-wrapper .logo,
p .global-wrapper .logo,
span .global-wrapper .logo,
div .global-wrapper .logo {
  opacity: 0;
  width: 100%;
  -webkit-animation-name: showLogo;
  animation-name: showLogo;
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
  animation-delay: 1s;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
html .copyright-line,
body .copyright-line,
h1 .copyright-line,
h2 .copyright-line,
h3 .copyright-line,
h4 .copyright-line,
h5 .copyright-line,
h6 .copyright-line,
p .copyright-line,
span .copyright-line,
div .copyright-line {
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  color: #666;
  font-size: 14px;
  font-family: SquareSansProRegular;
}
.social-block {
  margin: auto;
  text-align: center;
  padding-top: 80px;
}
.social-block .social-button {
  width: 56px;
  padding: 25px;
  display: inline-block;
  opacity: 0.7;
  outline: none;
  box-shadow: none;
  border: none;
}
.social-block .social-button:hover {
  opacity: 0.85;
}
.social-block .social-button img {
  border: none;
  width: 100%;
}
.email-bottom-contact {
  text-align: center;
  padding: 20px 10px;
  font-size: 16px;
  font-family: SquareSansProMedium;
  color: #666;
  outline: none;
  box-shadow: none;
  border: none;
}
.email-bottom-contact a {
  font-size: 22px;
  color: #555;
  font-family: SquareSansProBold;
}
