@font-face
  font-family 'SquareSansProLight'
  font-style normal
  src url(../fonts/PFSquareSansPro-Light.ttf)

@font-face
  font-family 'SquareSansProRegular'
  font-style normal
  src url(../fonts/PFSquareSansPro-Regular.ttf)

@font-face
  font-family 'SquareSansProMedium'
  font-style normal
  src url(../fonts/PFSquareSansPro-Medium.ttf)

@font-face
  font-family 'SquareSansProBold'
  font-style normal
  src url(../fonts/PFSquareSansProBold.ttf)